[Unit]
Description=Githook Service
After=network.target

[Service]
User=henry
Group=www-data
WorkingDirectory=/www/githook
Environment="ENV=prod;GITHOOK=/home/henry/miniconda3/envs/githook/bin"
ExecStart=$GITHOOK/python main.py
Restart=always

[Install]
WantedBy=multi-user.target